.admin-dashboard .search-form {
    display: flex;
    align-items: center;
    margin: 2rem 0;
    gap: 1rem;
}

.admin-dashboard .pages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.admin-dashboard .pagination {
    margin-top: 2rem;
}

.admin-dashboard .pagination .page-item .page-link {
    color: var(--hu-darker);
    border-color: var(--hu-primary);
}

.admin-dashboard .pagination .page-item .page-link:focus {
    box-shadow: 0 0 0px 5px var(--hu-lighter);
}

.admin-dashboard .pagination .page-item.active .page-link {
    color: white;
    background: var(--hu-primary);
    border-color: var(--hu-primary);
}

.admin-dashboard .pagination .page-item.disabled .page-link {
    background: var(--hu-light-gray);
}

.admin-dashboard .pagination .page-item .page-link:hover {
    z-index: unset;
    border-color: var(--hu-primary);
}

@media screen and (max-width: 600px) {
    .admin-dashboard h1 {
        text-align: center;
    }

    .admin-dashboard .search-form {
        flex-direction: column;
    }

    .admin-dashboard .pagination {
        flex-wrap: wrap;
        row-gap: 1rem;
    }

    .admin-dashboard .pagination .page-item .page-link {
        font-size: 1.5rem;
    }

    .admin-dashboard .justify-content-md-center {
        justify-content: center;
    }
}