.perk-section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    background: var(--hu-green-black);
    color: var(--hu-white);

    justify-content: center;
    align-items: flex-start;
    gap: 4rem;

    flex-wrap: wrap;
}