.profile-picture {
    flex-grow: 0;
    flex-basis: 30%;
    width: 100%;
    align-self: flex-start;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.profile-picture img {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.profile-picture .file-label {
    cursor: pointer;
    text-align: center;
}

.profile-picture .file-input {
    display: none;
}

.modal-backdrop {
    background-color: var(--hu-light-gray-sheer);
    backdrop-filter: blur(2px);
}

.modal-backdrop.show {
    opacity: 100%;
}

.modal.profile-modal {
    padding: 0 !important;
    display: flex !important;
    align-items: center;
}

.profile-modal .modal-dialog {
    max-width: 100%;
    width: 100%;
    margin: 0 calc(var(--section-padding-horisontal) / 2);
    display: flex;
    justify-content: center;
}

.profile-modal .modal-content {
    background: none;
    box-shadow: none;
    border: none;
    width: 90%;
}

.profile-modal .modal-close {
    color: var(--hu-darker);
    cursor: pointer;
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: auto;
}

.profile-modal .modal-close i {
    font-size: 2em;
}

.profile-modal .no-result {
    width: 100%;
    text-align: center;
    color: var(--hu-green-black);
    border: 1px solid var(--hu-darker);
    font-weight: 500;
    background: rgba(255, 255, 255, 0.9);
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

@media screen and (max-width: 1200px) {
    .profile .sides {
        gap: 1.5rem;
    }
    .profile-picture .mb-3, .profile-picture .file-label {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .profile .sides {
        flex-direction: column-reverse;
        gap: 0;
        align-items: unset;
    }

    .profile-picture {
        flex-basis: unset;
    }

    .profile-picture .file-label {
        font-size: 1.25rem;
    }

    .modal.profile-modal {
        align-items: flex-start;
    }

    .profile-modal .modal-dialog {
        margin: calc(var(--section-padding-horisontal) / 2) calc(var(--section-padding-horisontal) / 2);
    }
}