.navbar {
    background: rgba(255, 255, 255, 0.98);
    box-shadow: var(--hu-gray-shadow);
    backdrop-filter: blur(2px);
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.navbar .container {
    max-width: none;
    padding: 0 var(--section-padding-horisontal);
}

.navbar .navbar-brand {
    display: flex;
    gap: .7rem;
    color: var(--hu-green-black);
}

.navbar .logo {
    height: 1.5em;
}

.navbar .navbar-toggler {
    font-size: 2em;
    color: var(--hu-accent-green);
    border: none;
    padding: 0;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-collapse {
    justify-content: flex-end;
}

.navbar .navbar-nav {
    gap: 2rem;
}

.navbar .nav-link {
    margin: 1rem 0;
    color: var(--hu-light-black);
}

.navbar .nav-link:hover {
    color: var(--hu-green-black);
}

.logo-and-language {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: .8rem;
}

.logo-and-language .language {
    display: flex;
    gap: .7rem;
    align-items: center;
    color: var(--hu-light-black);
}

.logo-and-language .language-option {
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .navbar .navbar-nav {
        gap: 0;
    }
}