#root {
  width: 100%;
}

.App {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

.page-min-height {
  min-height: 90vh;
}

.section-padding {
  padding: 0 var(--section-padding-horisontal);
}

.section-padding.vertical {
  padding-top: var(--section-padding-vertical);
  padding-bottom: var(--section-padding-vertical);
}

.accent-text {
  display: inline-block;
  width: fit-content;
  position: relative;
  isolation: isolate;
}

.accent-text::before {
  content: "";
  position: absolute;
  width: 105%;
  height: 30%;
  left: -2.5%;
  bottom: 10%;
  background: var(--hu-lighter);
  z-index: -1;
}

.accent-text.light::before {
  background: var(--hu-primary);
}

.ball {
  width: 2rem;
  position: absolute;
  aspect-ratio: 1/1;
  background: var(--hu-ball-green-gradient);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  backdrop-filter: blur(1px);
  z-index: -1;
}

#root input:focus {
  border-color: var(--hu-primary);
  box-shadow: 0 0 0px 5px var(--hu-lighter);
}

#root input.is-invalid:focus {
  border-color: var(--bs-danger);
  box-shadow: 0 0 0px 5px #ffd2cb;
}

#root select:focus {
  border-color: var(--hu-primary);
  box-shadow: 0 0 0px 5px var(--hu-lighter);
}

#root .form-check-input {
  width: 2em;
  height: 2em;
}

#root .form-check-label {
  font-size: 1.2em;
}

#root .form-check-input:checked {
  background-color: var(--hu-primary);
  border-color: var(--hu-primary);
}

.circle {
  width: 2rem;
  height: 2rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.error-text {
  display: none;
  background: var(--hu-vibrant-red-transparent);
  color: var(--hu-dark-red);
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.error-text.s-200, .error-text.s-202,
.valid .error-text {
  background: var(--hu-lighter-sheer);
  color: var(--hu-darker);
}

.error-text.s-400 {
  background: var(--hu-yellow-sheer);
  color: var(--hu-yellow-dark);
}

.invalid .error-text,
.valid .error-text {
  display: block;
}

.loading-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  z-index: 1003;
}

.loading-spinner {
  color: var(--hu-accent-green);
  width: 5rem;
  height: 5rem;
  border-width: 0.4rem;
}

@media screen and (max-width: 600px) {
  #root input,
  #root select {
    padding: 1rem 2rem;
  }

  #root .form-check-input {
    padding: 0;
  }
}
